<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            .section {
                display: flex;
                flex-wrap: wrap;
                width: 13em;
            }
            h2 {
                flex-basis: 100%;
            }
            .block {
                width: 3em;
                height: 3em;
                border: 1px solid #ccc;

                text-align: center;
                padding-top: 15px;
                line-height: 30px;
            }

            .break {
                flex-basis: 100%;
                width: 0;
            }

            .type_Lead {
                background-color: tomato;
            }
            
        </style>
    </head>
    <body>
        <h1>[% meta.artist %] - [% meta.title %]</h1>
[% USE Dumper %]
        <div class="song">
            [%FOREACH section IN song %]
                <div class="section">
                    <h2>[% section.keys.0 %]</h2>
                    [% FOREACH block IN section.values.0 %]
                        [% IF block == '=R' %]

                            [% block = previousBlock %]
                        [% ELSIF block == '==' %]
                            <div class="break"></div>
                            [% NEXT %]
                        [% END %]

                        [% IF block.keys.0 %]
                            <div class="block type_[% block.values.0.type %]">[% block.keys.0 %]</div>
                        [% ELSE %]
                            <div class="block">[% block %]</div>
                        [% END %]
                    [% SET previousBlock = block %]
                    [% END %]
                </div>
            [% END %]
        </div>
    </body>
</html>